@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;

  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

p {
  max-width: 600;
}

#container {
  max-width: 1200px;
  padding: 24px;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
}

.navigation {
  flex-grow: 1;
  margin-left: 4rem;
}

.navigation--item {
  margin-left: 2.4rem;
  text-decoration: none;
  color: #bdbdbd;
}

.navigation--item:first-child {
  margin-left: 0;
}

.navigation--item__active {
  color: #333;
}

.navigation--button {
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
  padding: 1rem 3.6rem;
  color: white;
  cursor: pointer;
}

.navigation--button:active {
  transform: scale(0.98);
}

/* MAIN */
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24;
}

.main--content {
  grid-column: 2/5;
}

.headline {
  margin: 0;
  padding: 0;
  font-size: 5.2rem;
  font-weight: 500;
}

.description {
    margin: 0;
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    padding: 0;
    color: #828282;
}

.play-button {  
    display: flex; 
     align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 50px;
    padding: 1rem 3.6rem;
    background: transparent;
    background: -webkit-linear-gradient(
        180deg,
        #faa245 0%,
        #d8328a 37.25%,
        #753872 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-button .fa {
    margin-right: 0.6rem;
    background: inherit;
    font-size: 2rem;
}

.main--img {
  grid-column: 7/12;
}
