@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;

    color: #333;
    font-family: 'Poppins', sans-serif;
}

p {
    max-width: 600;
}